*.py[co]
.project
.pydevproject
*~
*.swp
*.db
*.orig
*.DS_Store
.coverage
.tox
*.egg-info/*
docs/_build/*
dist/*
*.mo
scribbler/static/scribbler/css/scribbler.css
scribbler/static/scribbler/js/scribbler-min.js
scribbler/static/scribbler/libs/codemirror/*
scribbler/static/scribbler/libs/jquery.js
scribbler/static/scribbler/libs/require.js
