*.py[co]
.project
.pydevproject
*~
*.swp
*.db
*.orig
*.DS_Store
.coverage
.tox
*.egg-info/*
docs/_build/*
build
dist/*
*.mo
scribbler/static/scribbler/css/scribbler.css
scribbler/static/scribbler/js/scribbler.js
scribbler/static/scribbler/js/scribbler-min.js
scribbler/tests/qunit/bundle.js
node_modules/*
ghostdriver.log
