language: python

sudo: false

python:
  - "3.5"

env:
  - TOXENV=py27-1.8.X,py33-1.8.X,py34-1.8.X
  - TOXENV=py27-1.9.X,py34-1.9.X,py35-1.9.X
  - TOXENV=py27-1.10.X,py34-1.10.X,py35-1.10.X
  - TOXENV=coverage
  - TOXENV=docs
  - TOXENV=qunit

before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - sleep 3

install:
  - pip install tox coveralls

script:
  - tox

branches:
  only:
    - master

after_success:
  - coveralls
