/*
 * django-scribbler
 * Source: https://github.com/mlavin/django-scribbler
 * Docs: http://django-scribbler.readthedocs.org/
 *
 * Copyright 2012, Mark Lavin
 * BSD License
 *
*/

.border-radius(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow(@shadow: 0 5px 5px rgba(50, 50, 50, 0.8)) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

.clearfix {
    *zoom: 1;
    
    &:before, &:after {
        display: table;
        content: "";
    }
    
    &:after {
        clear: both;
    }
}


#hide {
    display: none;
}

#show {
    display: block;
}

.scribble-wrapper {

    &.with-controls:hover, &.active {
        border: solid 1px black;
    }

    &.active {
        .scribble-controls {
            .preview, .delete, .save, .cancel {
                display: inline;
            }
        }
    }

    .scribble-controls {
        #hide;
        background: #eee;
        border-bottom: 1px solid black;
        padding: 5px;
        .preview, .delete, .save, .cancel {
            #hide;
        }
    }

    .scribble-form {
        #hide;
    }

    .scribble-preview {
        #hide;
    }

}

#scribbleEditorContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0;
    
    .controls {
        .box-shadow(0 -2px 6px rgba(0, 0, 0, .25));
        .border-radius(10px 10px 0 0);
        padding: 2px 10px;
    
        .close {
            float: right;
        }
    }

}

