/*
 * django-scribbler
 * Source: https://github.com/caktus/django-scribbler
 * Docs: http://django-scribbler.readthedocs.org/
 *
 * Copyright 2012, Caktus Consulting Group, LLC
 * BSD License
 *
*/

/* Table of Contents
======================== 

Variables
Mixins - Twitter Bootstrap
Scribbler wrapper styles
Scribbler editor container styles
Scribbler menu styles
Codemirror customization styles

*/




/* Variables
======================== */
@white:                     #FFFFFF;
@black:                     #000000;

@gray:                      #666666;
@grayDark:                  #333333;

@yellow:                    #fae599;
@yellowDarker:              #f9cc2b;

@green:                     #62c462;

@red:                       #FFE0E0;
@redDarker:                 #BD3535;

@blue:                      #2A8FBD;

@btnBackground:             @white;
@btnBackgroundHighlight:    darken(@white, 10%);
@btnBorder:                 #bbb;

@textColor:                 @grayDark;

@primaryFont:               Helvetica, Arial, sans-serif;


/* Mixins - Twitter Bootstrap
================================ */

.border-radius(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow(@shadow: 0 5px 5px rgba(50, 50, 50, 0.8)) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

.clearfix {
    *zoom: 1;
    
    &:before, &:after {
        display: table;
        content: "";
    }
    
    &:after {
        clear: both;
    }
}

.pull-right {
    float: right;
}

// IE7 inline-block
// ----------------
.ie7-inline-block() {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
}

.ie7-restore-left-whitespace() {
  *margin-left: .3em;

  &:first-child {
    *margin-left: 0;
  }
}

.ie7-restore-right-whitespace() {
  *margin-right: .3em;
}


#hide {
    display: none;
}

#show {
    display: block;
}

#gradient {
  .vertical(@startColor: #555, @endColor: #333) {
    background-color: mix(@startColor, @endColor, 60%);
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(top, @startColor, @endColor); // The standard
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down
  }
}

.buttonBackground(@startColor, @endColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  .gradientBar(@startColor, @endColor, @textColor, @textShadow);
  *background-color: @endColor; 

  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: @textColor;
    background-color: @endColor;
    *background-color: darken(@endColor, 5%);
  }

  &:active,
  &.active {
    background-color: darken(@endColor, 10%) e("\9");
  }
}

.gradientBar(@primaryColor, @secondaryColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  color: @textColor;
  text-shadow: @textShadow;
  #gradient > .vertical(@primaryColor, @secondaryColor);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

.btn {
    display: inline-block;
    .ie7-inline-block();
    padding: 4px 14px;
    font-size: 13px;
    line-height: 20px;
    *line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    .buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
    border: 1px solid @btnBorder;
    *border: 0; // Remove the border to prevent IE7's black border on input:focus
    border-bottom-color: darken(@btnBorder, 10%);
    .border-radius(4px);
    .ie7-restore-left-whitespace(); // Give IE7 some love
    .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
    &:hover {
        color: @grayDark;
        text-decoration: none;
        background-color: darken(@white, 10%);
        *background-color: darken(@white, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
        background-position: 0 -15px;
        // transition is only when going to hover, otherwise the background
        // behind the gradient (there for IE<=9 fallback) gets mismatched
        .transition(background-position .1s linear);
    }
     // Active state
     &.active,
     &:active {
        background-color: darken(@white, 10%);
        background-color: darken(@white, 15%) e("\9");
        background-image: none;
        outline: 0;
        .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
     }

    // Disabled state
    &.inactive,
    &[inactive] {
        cursor: default;
        background-color: darken(@white, 10%);
        background-image: none;
        .opacity(65);
        .box-shadow(none);
    }
}

/* Scribbler wrapper styles
======================== */
.scribble-wrapper {
    &.with-controls:hover, &.active {
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    &.with-controls .original:hover {
        background: @yellow;
        .transition(background 0.4s linear);
    }

    .preview {
        background: @yellow;
        .clearfix;
    }

    .scribble-content {
        .clearfix;
    }

    &.active {
        .scribble-controls {
            .preview, .delete, .save, .cancel {
                display: inline;
                border: none;
            }
        }
    }

    &.highlight {
        background: @yellow;
        min-height: 10px;
        min-width: 10px;
    }

    // Styles below hide editor and preview on page load
    .scribble-controls {
        #hide;
        background: #eee;
        border-bottom: 1px solid black;
        padding: 5px;
        .preview, .delete, .save, .cancel {
            #hide;
        }
    }

    .scribble-form {
        #hide;
    }

    .scribble-default {
        #hide;
    }

}

/* Scribbler editor container styles
==================================== */

#scribbleEditorContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: 10000;

    .controls {
        font-family: @primaryFont;
        .box-shadow(0 -5px 6px rgba(0, 0, 0, .04));
        padding: 7px 20px;
        #gradient .vertical;
        border: none;
        .clearfix;
        span {
            strong {
                color: @redDarker;
            }
            float: left;
            margin: 0 8px;
            color: @white;
        }

        .btn {
            .pull-right;
            margin: 0 8px;
            // Hover state
            &.save {
                .buttonBackground(lighten(@green, 15%), @green);
            }
            &.draft {
               .buttonBackground(lighten(@blue, 15%), @blue); 
            }
        } 
        a.close {
            float: right;
            background: url("../img/btn-close.png") no-repeat scroll 0 0 transparent;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            height: 24px;
            width: 24px;
            padding: 0;
            margin: 0;
            &:hover {   
                background-position: 0 -25px;
            }
        }
    }  
}


/* Scribbler menu styles
==================================== */

#scribbleMenuContainer {
    position: absolute;
    top: 0;
    z-index: 10000;
    width: 100%;
    a.tab {
        position: absolute; 
        left: 45%;
        .btn;
        .border-radius(0 0 6px 6px);
        .buttonBackground(lighten(@grayDark, 5%), @grayDark);
        .box-shadow(none);
        border: none;
        padding: 5px 10px;
        .hot-dog {
            display: block;
            width: 18px;
            height: 2px;
            background-color: @gray;
            .border-radius(1px);
            .box-shadow(0 1px 0 rgba(0, 0, 0, 0.25));
            margin: 2px 0;
        }
    }
    .control-panel {
        .clearfix;
        background-color: @grayDark;
        height: 50px;
        a {
            font-family: @primaryFont;
            margin: 10px;
            &.reveal {
                .btn;
                .buttonBackground(lighten(@grayDark, 15%), @grayDark);
                color: @white;
                border: 1px solid darken(@gray, 50%);
            }
        }
    }
}

/* Codemirror customization styles
==================================== */
.CodeMirror {
    background-color: #FFFFFF;
    
    .activeline {
        background: @red !important;
    }
}

.CodeMirror-completions {
    position: absolute;
    z-index: 10010;
    overflow: hidden;
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}

.CodeMirror-completions select {
    background: #fafafa;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: monospace;
}
