/*
 * django-scribbler
 * Source: https://github.com/caktus/django-scribbler
 * Docs: http://django-scribbler.readthedocs.org/
 *
 * Copyright 2012, Caktus Consulting Group, LLC
 * BSD License
 *
*/
/* Variables
======================== */
/* Mixins
======================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
#hide {
  display: none;
}
#show {
  display: block;
}
/* Scribbler wrapper styles
======================== */
.scribble-wrapper.with-controls:hover,
.scribble-wrapper.active {
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 100%;
}
.scribble-wrapper.with-controls .original:hover {
  background: #fae599;
  -webkit-transition: background 0.4s linear;
  -moz-transition: background 0.4s linear;
  -ms-transition: background 0.4s linear;
  -o-transition: background 0.4s linear;
  transition: background 0.4s linear;
}
.scribble-wrapper .preview {
  background: #fae599;
}
.scribble-wrapper.active .scribble-controls .preview,
.scribble-wrapper.active .scribble-controls .delete,
.scribble-wrapper.active .scribble-controls .save,
.scribble-wrapper.active .scribble-controls .cancel {
  display: inline;
  border: none;
}
.scribble-wrapper .scribble-controls {
  display: none;
  background: #eee;
  border-bottom: 1px solid black;
  padding: 5px;
}
.scribble-wrapper .scribble-controls .preview,
.scribble-wrapper .scribble-controls .delete,
.scribble-wrapper .scribble-controls .save,
.scribble-wrapper .scribble-controls .cancel {
  display: none;
}
.scribble-wrapper .scribble-form {
  display: none;
}
.scribble-wrapper .scribble-default {
  display: none;
}
/* Scribbler editor container styles
==================================== */
#scribbleEditorContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: 10000;
}
#scribbleEditorContainer .controls {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.04);
  padding: 7px 20px;
  background-color: #474747;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -ms-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(top, #555555, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333', GradientType=0);
  border: none;
  *zoom: 1;
}
#scribbleEditorContainer .controls:before,
#scribbleEditorContainer .controls:after {
  display: table;
  content: "";
}
#scribbleEditorContainer .controls:after {
  clear: both;
}
#scribbleEditorContainer .controls span {
  float: left;
  margin: 0 8px;
  color: #ffffff;
}
#scribbleEditorContainer .controls span strong {
  color: #bd3535;
}
#scribbleEditorContainer .controls a {
  float: right;
  margin: 0 8px;
}
#scribbleEditorContainer .controls a.btn {
  text-transform: uppercase;
  line-height: 20px;
  color: #ffffff;
  display: inline-block;
  padding: 3px 7px 2px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
#scribbleEditorContainer .controls a.save {
  background-color: #53b553;
  background-image: -moz-linear-gradient(top, #62c462, #3b9e3b);
  background-image: -ms-linear-gradient(top, #62c462, #3b9e3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#3b9e3b));
  background-image: -webkit-linear-gradient(top, #62c462, #3b9e3b);
  background-image: -o-linear-gradient(top, #62c462, #3b9e3b);
  background-image: linear-gradient(top, #62c462, #3b9e3b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#3b9e3b', GradientType=0);
  border: 1px solid #3b9e3b;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#scribbleEditorContainer .controls a.save:hover {
  background-color: #3da23d;
  background-image: -moz-linear-gradient(top, #42b142, #348c34);
  background-image: -ms-linear-gradient(top, #42b142, #348c34);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42b142), to(#348c34));
  background-image: -webkit-linear-gradient(top, #42b142, #348c34);
  background-image: -o-linear-gradient(top, #42b142, #348c34);
  background-image: linear-gradient(top, #42b142, #348c34);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42b142', endColorstr='#348c34', GradientType=0);
  color: #e6e6e6;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#scribbleEditorContainer .controls a.save:active {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  top: 1px;
}
#scribbleEditorContainer .controls a.save.inactive {
  background-color: #bdbdbd;
  background-image: -moz-linear-gradient(top, #e6e6e6, #808080);
  background-image: -ms-linear-gradient(top, #e6e6e6, #808080);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#808080));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #808080);
  background-image: -o-linear-gradient(top, #e6e6e6, #808080);
  background-image: linear-gradient(top, #e6e6e6, #808080);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#808080', GradientType=0);
  border: 1px solid #0d0d0d;
}
#scribbleEditorContainer .controls a.draft {
  background-color: #247ca4;
  background-image: -moz-linear-gradient(top, #2a8fbd, #1c607e);
  background-image: -ms-linear-gradient(top, #2a8fbd, #1c607e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2a8fbd), to(#1c607e));
  background-image: -webkit-linear-gradient(top, #2a8fbd, #1c607e);
  background-image: -o-linear-gradient(top, #2a8fbd, #1c607e);
  background-image: linear-gradient(top, #2a8fbd, #1c607e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a8fbd', endColorstr='#1c607e', GradientType=0);
  border: 1px solid #1c607e;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#scribbleEditorContainer .controls a.draft:hover {
  background-color: #1d6383;
  background-image: -moz-linear-gradient(top, #216f93, #17506a);
  background-image: -ms-linear-gradient(top, #216f93, #17506a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#216f93), to(#17506a));
  background-image: -webkit-linear-gradient(top, #216f93, #17506a);
  background-image: -o-linear-gradient(top, #216f93, #17506a);
  background-image: linear-gradient(top, #216f93, #17506a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#216f93', endColorstr='#17506a', GradientType=0);
  color: #e6e6e6;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#scribbleEditorContainer .controls a.draft:active {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  top: 1px;
}
#scribbleEditorContainer .controls a.draft.inactive {
  background-color: #bdbdbd;
  background-image: -moz-linear-gradient(top, #e6e6e6, #808080);
  background-image: -ms-linear-gradient(top, #e6e6e6, #808080);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#808080));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #808080);
  background-image: -o-linear-gradient(top, #e6e6e6, #808080);
  background-image: linear-gradient(top, #e6e6e6, #808080);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#808080', GradientType=0);
  border: 1px solid #0d0d0d;
}
#scribbleEditorContainer .controls a.close {
  background: url("../img/btn-close.png") no-repeat scroll 0 0 transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0;
}
#scribbleEditorContainer .controls a.close:hover {
  background-position: 0 -25px;
}
/* Codemirror customization styles
==================================== */
.CodeMirror {
  background-color: #FFFFFF;
}
.CodeMirror .activeline {
  background: #ffe0e0 !important;
}
