<div class="scribble-wrapper scribble-{{ scribble.slug }} {% if show_controls %}with-controls{% endif %}">
    <div class="scribble-content original">
        {{ rendered_scribble }}
    </div>
    {% if can_edit_scribble or can_add_scribble %}
        <div class="scribble-form">
            {% with scribble_form as form %}
                {% include "scribbler/edit-form.html" %}
            {% endwith %}
        </div>
        <div class="scribble-content preview">
        </div>
    {% endif %}
</div>
